
header {
    color: #fff;
    position: relative;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.1);
    .header-wrapper {
        padding: 0.5rem 1.5rem;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        .info {
            display: flex;
            justify-content: space-between;
            .login {
                margin-right: 1rem;
            }
        }
        .logo {
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            p {
                color: #fff;
            }
            .message {
                margin-left: 1rem;
            }
        }
    }
}