.weather {
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 25rem;
    height: auto;
    margin: auto auto;
    padding: 1rem 1rem;
    background-color: #fff;
    border-radius: 1.5rem;
    position: relative;

    &-header {
        display: flex;
        justify-content: space-between;
    }
}