@import '../../Assets/Colors.scss';

.Create {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 35rem;
    height: 15rem;
    background-color: $light-gray;
    border-radius: 10px;
    padding: 1rem 2rem 10rem;  
}